@mixin navUlStyle($display, $direction) {
    display: $display;
    flex-direction: $direction;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

@mixin navLiStyle {
    list-style: none;
    padding: 10px;
    text-align: center;
}

nav.navbar {
    div.navbar-toggle {
        display: none;
    }

    ul.navbar-list {
        @include navUlStyle(flex, row);

        li {
            @include navLiStyle;

            a {
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    nav.navbar {
        div.navbar-toggle {
            font-size: 18px;
            padding: 10px;
            border: 1px solid white;
            display:block
        }

        ul.navbar-list {
            @include navUlStyle(none, column);

            &.visible {
                @include navUlStyle(flex, column);
            }

            li {
                @include navLiStyle;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}
