@mixin navUlStyle($display,$direction) {
    display: $display;
    flex-direction: $direction;
    font-size: 18px;
    margin: 0;
    padding: 0;
    border: 1px solid white;
}

@mixin navLiStyle {
    list-style: none;
    padding: 10px;
    text-align: center;
}

nav.navbar {
    div.navbar-toggle {
        display: none;
    }

    ul.navbar-list {
        @include navUlStyle(flex,row);

        li {
            @include navLiStyle;

            a {
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    nav.navbar {
        div.navbar-toggle {
            font-size: 18px;
            padding: 10px;
            border-top: 1px solid white;
            border-left: 1px solid white;
            border-right: 1px solid white;
        }

        ul.navbar-list {
            @include navUlStyle(flex,column);

            li {
                @include navLiStyle;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}

.visible {
    @include navUlStyle(flex,column);
}