@mixin navUlStyle($direction) {
    display: flex;
    flex-direction: $direction;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

@mixin navLiStyle {
    list-style: none;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

nav.navbar {
    span.navbar-toggle {
        display: none;
    }

    ul {
        @include navUlStyle(row);

        li {
            @include navLiStyle;

            a {
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    section#main_content nav.navbar {
        position: relative;
    }

    nav.navbar {
        span.navbar-toggle {
            position: absolute;
            top: 5px;
            right: 10px;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);
            font-size: 24px;
        }

        ul {
            @include navUlStyle(column);

            li {
                @include navLiStyle;

                a {
                    text-decoration: none;
                }
            }
        }
    }
}

.visible {
    display: block;
}