<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/c8db903e7e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

  {% seo %}
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>

  <header>
    <div class="container">
      <a class="centered-anchor" style="text-decoration: none;" href="{{ '/' | relative_url }}">
        <img src="/assets/img/adam_miszczak_pixelart_2.png" alt="Adam Miszczak avatar" width="50">
        <span class="header-title">{{ site.title | default: site.github.repository_name }}</span>
      </a>
      <div class="header-subtitle">{{ site.description | default: site.github.project_tagline }}</div>
      <section id="downloads">
        <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
      </section>
      <nav class="navbar">
        <div class="navbar-toggle">
          <i class="fas fa-bars" aria-hidden="true"></i>
        </div>
        <ul class="navbar-list">
          {% for item in site.data.menu-nav.navigation %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <section id="main_content">
      {{ content }}
    </section>
  </div>
  <script src="/assets/js/customScripts.js"></script>
</body>

</html>